.joke {
  width: 80%;
  padding: 10px;

  border-style: solid;
  border-color: #073d5f;
  border-radius: 10px;
}

.green {
  background: #9bc53d;
}

.red {
  background: #c3423f;
}

button {
  margin: 5px;
}

button:hover {
  cursor: auto;
}
